{{ for child of nav.menu("", "", "order=asc").children }}
{{ child.data.order }}{{ child.data.content }}

{{ for child1 of child.children }}
{{ child1.data?.order }}{{ child1.data?.content }}

{{ for child2 of child1.children }}
{{ child2.data?.order }}{{ child2.data?.content }}
{{ /for }}

{{ /for }}

{{ /for }}