<ul>
  {{ for child of nav.menu("", "", "order=asc").children }}
  <li>
    {{ child.data.order }} - {{ child.data.content }}

    <ul>
    {{ for child1 of child.children }}
      <li>
      {{ child1.data?.order }} - {{ child1.data?.content }}

      <ul>
      {{ for child2 of child1.children }}
        <li>{{ child2.data?.order }} - {{ child2.data?.content }}</li>
      {{ /for }}
      </ul>

      </li>
    {{ /for }}
    </ul>

  </li>
  {{ /for }}
</ul>