<?xml version="1.0" encoding="utf-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops" xmlns:m="http://www.w3.org/1998/Math/MathML" xmlns:svg="http://www.w3.org/2000/svg" epub:prefix="z3998: http://www.daisy.org/z3998/2012/vocab/structure/" xml:lang="en-GB">
	<head>
		<title>How HTML changes in ePub</title>
		<link href="/css/core.css" rel="stylesheet" type="text/css"/>
	</head>
	<body id="how-html-changes-in-epub" epub:type="bodymatter z3998:essay">
		{{ content }}
	</body>
</html>
