---
title: Home page
---

<html>
  <head>
    <title>{{ title }}</title>
  </head>
  <body>
    <div id="search"></div>
    <h1>This is the homepage</h1>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac hendrerit tortor. Curabitur pharetra odio vel ornare condimentum. Phasellus vitae condimentum quam. Quisque cursus iaculis libero, sed volutpat mauris lobortis in. Aliquam vitae maximus nunc. Integer ipsum leo, aliquam vel gravida nec, eleifend eget sapien. Vivamus nunc felis, placerat quis cursus et, venenatis elementum sapien. Proin vitae ex et mauris pulvinar viverra ut eget eros. Maecenas in quam a neque congue eleifend at a risus.</p>
  </body>
</html>