---
title: Hello world
visibility: 'unlisted'
flags:
  - foo
  - bar
---

<html>
  <head>
    <title>{{ title }}</title>
  </head>
  <body>
    Created: {{ created }}
    <br />
    Flags: {{ flags }}
  </body>
</html>