{% set postslist = search.pages("type=post", "date=desc", 3) %}

<section class="postList">
  {% asyncEach post in postslist %}
  <article class="post">
    <header class="post-header">
      <h2 class="post-title">
        <a href="{{ post.data.url }}" {% if post.data.url == url %} aria-current="page"{% endif %}>
          {{ post.data.title or post.data.url }}
        </a>
      </h2>

      {% set readingTime = post.data.readingTime %}

      {% if readingTime %}
        {{ readingTime.minutes }} min read
      {% endif %}
    </header>

    <div class="post-excerpt">
      {{ post.data.excerpt | md | safe }}
    </div>
  </article>
  {% endeach %}
</section>
