<html>
  <head>
    <script src="https://code.jquery.com/jquery-3.7.0.slim.min.js"></script>
    <script>
      $(function () {
        $("h1").css({
          color: "blue"
        })
      })
    </script>
  </head>
  <body>
    <h1>Hello world</h1>
  </body>
</html>
