---
lang: gl
---

<html lang={{ lang }}>
  <head>
    <meta charset="utf-8">
    <title>{{ "title" | t }}</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <h1>{{ t("title", { lng: lang}) }}</h1>
    <a href="/">Change to english</a>
  </body>
</html>
