---
layout: base.njk
---
<article>
  <header>
    <h1>{{ name }}</h1>
  </header>

  {% if posts.length %}
    <h2>Posts by {{ name }}</h2>

    <ul>
    {% for post in posts %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
    </ul>
  {% endif %}

  {% if pages.length %}
    <h2>Static pages by {{ name }}</h2>

    <ul>
    {% for page in pages %}
      <li><a href="{{ page.url }}">{{ page.title }}</a></li>
    {% endfor %}
    </ul>
  {% endif %}
</article>