---
layout: base.njk
---
<article>
  <header>
    <h1>{{ title }}</h1>

    {% if author %}
    By: <a href="{{ author.url }}">{{ author.name }}</a>
    {% endif %}

    {% if category.length %}
      Categories:
      {% for item in category %}
      <a href="{{ item.url }}">{{ item.name }}</a>
      {% endfor %}
    {% endif %}
  
    {% if post_tag.length %}
      Tags:
      {% for item in category %}
      <a href="{{ item.url }}">{{ item.name }}</a>
      {% endfor %}
    {% endif %}
  </header>

  {{ content | safe }}
</article>