<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <code class="mermaid">
        graph TD;
            A-->B;
            A-->C;
            B-->D;
            C-->D;
    </code>
    <code class="mermaid">
        graph TD;
            A2-->B2;
            A2-->C2;
            B2-->D2;
            C2-->D2;
    </code>

    <script type="module" astral-delete>
        import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';
        mermaid.initialize();
        window._continue = true;
    </script>
</body>
</html>