@import "https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.6.0/build/styles/github.min.css";

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: row;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  margin-right: 10px;
}

.src-display {
  flex: 1;
  padding: 20px;
  border: 1px solid #ccc;
  margin: 10px;
  background-color: #f9f9f9;
}

.src-display>header {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
}

.src-display>pre>code {
  border: 1px solid #ccc;
}