<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <img src="{{ "acorn" |> icon("phosphor") }}" inline>
  <img src="{{ "acorn" |> icon("phosphor", "duotone") }}" inline>
  <img src="{{ "acorn:duotone" |> icon("phosphor") }}" inline>
  <hr>
  <img src="{{ "facebook" |> icon("simpleicons") }}" inline>
  <hr>
  <img src="{{ "face-smile" |> icon("heroicons") }}" inline>
  <hr>
  <img src="{{ "10k" |> icon("material") }}" inline>
  <hr>
  <img src="{{ "10k" |> icon("material-100") }}" inline>
  <img src="{{ "10k" |> icon("material-200") }}" inline>
  <img src="{{ "10k" |> icon("material-300") }}" inline>
  <img src="{{ "10k" |> icon("material-400") }}" inline>
  <img src="{{ "10k" |> icon("material-500") }}" inline>
  <img src="{{ "10k" |> icon("material-600") }}" inline>
  <img src="{{ "10k" |> icon("material-700") }}" inline>
  <hr>
  <img src="{{ "alarm-clock" |> icon("lucide") }}" inline>
  <hr>
  <img src="{{ "alien" |> icon("tabler") }}" inline>
  <hr>
  <img src="{{ "arrow/arrows_left_fill" |> icon("mingcute") }}" inline>
  <hr>
  <img src="{{ "arrows/arrow-up-fill" |> icon("remix") }}" inline>
  <hr>
  <img src="{{ "0-circle" |> icon("bootstrap") }}" inline>
</body>
</html>