<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {{ "acorn" |> icon("phosphor") }}
  {{ "acorn" |> icon("phosphor", "duotone") }}
  {{ "acorn:duotone" |> icon("phosphor") }}
  <hr>
  {{ "facebook" |> icon("simpleicons") }}
  <hr>
  {{ "face-smile" |> icon("heroicons") }}
  <hr>
  {{ "10k" |> icon("material") }}
  <hr>
  {{ "10k" |> icon("material-100") }}
  {{ "10k" |> icon("material-200") }}
  {{ "10k" |> icon("material-300") }}
  {{ "10k" |> icon("material-400") }}
  {{ "10k" |> icon("material-500") }}
  {{ "10k" |> icon("material-600") }}
  {{ "10k" |> icon("material-700") }}
  <hr>
  {{ "alarm-clock" |> icon("lucide") }}
  <hr>
  {{ "alien" |> icon("tabler") }}
  <hr>
  {{ "arrow/arrows_left_fill" |> icon("mingcute") }}
  <hr>
  {{ "arrows/arrow-up-fill" |> icon("remix") }}
  <hr>
  {{ "0-circle" |> icon("bootstrap") }}
</body>
</html>