<!doctype html>
<html>
<head>
  <title>Demo</title>
</head>

<body>
  {# <div imagick="webp jpg 600">
    <!-- All images here will be affected -->
  </div>
  #}

  <picture imagick="webp jpg 600@1,2">
    <img src="/kevin-schmid-unsplash.jpg">
  </picture>

  <!-- This image will be converted to a picture -->
  <img src="/kevin-schmid-unsplash.jpg" imagick="webp jpg 300@2">
</body>
</html>